# start bspwm 
sxhkd &
# exec bspwm

# set keyboard in spanish
setxkbmap es

# set red filter on
redshift -O 3000

# set the display
xrandr --output eDP-1 --mode 1920x1080 --rate 59.98

# $HOME/.config/polybar/launch.sh

# export AWT_TOOLKIT=MToolkit
# wmname compiz
