# start bspwm 
sxhkd &
# exec bspwm

# set keyboard in spanish
setxkbmap es

# set red filter on
redshift -O 3000

# set the display
#xrandr --output eDP-1 --mode 1920x1080 --rate 59.98
#xrandr --output DP-4 --mode 1920x1080 --rate 144.00
#xrandr --output DP-0 --mode 1920x1080 --rate 144.00
#xrandr --output HDMI-0 --mode 2560x1440 --rate 144.00
#xrandr --output "HDMI-0" --primary --mode 2560x1440 --rate 144.00 --output "DP-4" --mode 1920x1080 --rate 144.00 --left-of "HDMI-0" --rotate left
#xrandr --output "HDMI-0" --primary --mode 2560x1440 --rate 144.00 --output "DP-0" --mode 1920x1080 --rate 144.00 --left-of "HDMI-0" --rotate left
xrandr \
 --output "HDMI-0" --auto --primary --mode 2560x1440 --rate 144.00 --pos 1080x2110 \
 --output "DP-0" --auto --mode 1920x1080 --rate 144.00 --rotate left  --pos 0x1920


# $HOME/.config/polybar/launch.sh

# export AWT_TOOLKIT=MToolkit
# wmname compiz
